html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.water {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    cursor: default;
    height: 100%;
    background: url("images/Drawing.png");
    background-size: cover;
    background-repeat: repeat-y;
    z-index: 2;
    filter: url("#turbulence");
}
.eye {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    cursor: default;
    height: 100%;
    background: url("images/bing.png");
    background-size: cover;
    background-repeat: repeat-y;
    z-index: 1;
    filter: url("#burbulence");
}
body {
    font-family:"Papyrus";
    color:#008080;
    background-image:linear-gradient(to right, black, rgb(15, 15, 52), rgb(32, 1, 32), rgb(0, 0, 0));
    background-size: 400% 400%;
    background-repeat: repeat-y;
    animation: bg 20s ease-in-out infinite;
    border-style: double;
    border-color: rgb(26, 209, 215);
}

@keyframes bg {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0 50%;
    }
}